<h1> <strong><%=name%></strong> Your AADHAR IS NOT LINKED WITH OUR BANK </h1>
<h2> PLS ENTER YOUR AADHAR NUMBER TO LINK IT TO OUR BANK </h2>

<p class="lead">PLS ENTER ALL THE DETAILS CAREFULLY </p>
<form method="POST" action='/update_aadhar'>
    <input  name="aadhar_no" class="form" placeholder="Enter the Aadhar No." required>
    <br><br>
    <button class = "button">UPDATE</button>
</form>