<h1> <strong><%=name%></strong> Your ADDRESS IS NOT UPDATED WITH OUR BANK SERVERS </h1>
<h2> PLS ENTER YOUR ADDRESS TO LINK IT TO OUR BANK </h2>

<p class="lead">PLS ENTER ALL THE DETAILS CAREFULLY </p>
<form method="POST" action='/update_address'>
    <input  name="address" class="form" placeholder="Enter complete Address" required>
    <br><br>
    <button class = "button">UPDATE</button>
</form>