<link rel = "stylesheet" href = "app.css" type = "text/css" />
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<h1> Welcome to our bank! </h1>

<p class="lead">Enter your Login Credentials to Proceed Further</p>
<form method="POST" action='/auth'>
    <input type="text" name="username" class="form" placeholder="Enter Your username" required>
    <br>
    <input type="password" name="password" class="form" placeholder="Enter Your password" required>
    <br><br>
    <button class = "button">login</button>
</form>